<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dell_UI</title>

    <link href={{url_for('static', filename='css/bootstrap.min.css')}} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{url_for('static', filename='css/sb-admin.css')}} rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href={{url_for('static', filename='css/plugins/morris.css')}} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href={{url_for('static', filename='font-awesome/css/font-awesome.min.css')}} rel="stylesheet" type="text/css">

</head>
<body>
    
    {%include 'includes/_navbar.html'%}

    {%block body%}
    {%endblock%}

    <script src={{url_for('static', filename='js/jquery.js')}}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{url_for('static', filename='js/bootstrap.min.js')}}></script>

    <!-- Morris Charts JavaScript -->
    <script src={{url_for('static', filename='js/plugins/morris/raphael.min.js')}}></script>
    <script src={{url_for('static', filename='js/plugins/morris/morris.js')}}></script>
    <script src={{url_for('static', filename='js/plugins/morris/morris-data.js')}}></script>

    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src={{url_for('static', filename='js/plugins/flot/jquery.flot.js')}}></script>
    <script src={{url_for('static', filename='js/plugins/flot/jquery.flot.tooltip.min.js')}}></script>
    <script src={{url_for('static', filename='js/plugins/flot/jquery.flot.resize.js')}}></script>
    <script src={{url_for('static', filename='js/plugins/flot/jquery.flot.pie.js')}}></script>
    <script src={{url_for('static', filename='js/plugins/flot/flot-data.js')}}></script>




</body>

</html>


</body>
